domain-needed
bogus-priv
expand-hosts
local=/home.arpa/
domain=home.arpa
listen-address=127.0.0.1,192.168.10.10
bind-interfaces
cache-size=1000

address=/cubi.home.arpa/192.168.10.10
address=/traefik.home.arpa/192.168.10.10
address=/home.home.arpa/192.168.10.10
address=/immich.home.arpa/192.168.10.10
address=/jellyfin.home.arpa/192.168.10.10
address=/vault.home.arpa/192.168.10.10
address=/ha.home.arpa/192.168.10.10
address=/portainer.home.arpa/192.168.10.10
address=/logs.home.arpa/192.168.10.10
address=/kuma.home.arpa/192.168.10.10
address=/pdf.home.arpa/192.168.10.10
