COMPOSE_PROJECT_NAME=homelab
TZ=Europe/Warsaw
PUID=1000
PGID=1000
HOST_FQDN=cubi.home.arpa
HOST_LAN_IP=192.168.10.10
HOST_GATEWAY=192.168.10.1
HOST_DNS=192.168.10.1
LOCAL_DNS_ZONE=home.arpa
DATA_ROOT=/srv
APPDATA_ROOT=/srv/homelab
MEDIA_ROOT=/srv/data
BACKUP_MOUNT_POINT=/mnt/backup-usb
RESTIC_REPOSITORY=/mnt/backup-usb/restic
RESTIC_PASSWORD=CHANGE_ME_LONG_RANDOM
RESTIC_RETENTION_WEEKLY=8
RESTIC_RETENTION_MONTHLY=6
TRAEFIK_HOST=traefik.home.arpa
HOMARR_HOST=home.home.arpa
IMMICH_HOST=immich.home.arpa
JELLYFIN_HOST=jellyfin.home.arpa
VAULTWARDEN_HOST=vault.home.arpa
HOMEASSISTANT_HOST=ha.home.arpa
PORTAINER_HOST=portainer.home.arpa
DOZZLE_HOST=logs.home.arpa
KUMA_HOST=kuma.home.arpa
STIRLING_HOST=pdf.home.arpa
IMMICH_DB_NAME=immich
IMMICH_DB_USER=immich
IMMICH_DB_PASSWORD=CHANGE_ME
VAULTWARDEN_ADMIN_TOKEN=CHANGE_ME_LONG_RANDOM
VAULTWARDEN_SIGNUPS_ALLOWED=false
JELLYFIN_PUBLISHED_SERVER_URL=http://jellyfin.home.arpa
TAILSCALE_AUTHKEY=
SAMBA_USERNAME=samba
SAMBA_PASSWORD=CHANGE_ME
